body {
  background: #0d0d0d;
  color: #00ff88;
  font-family: monospace;
  padding: 20px;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  background: #1a1a1a;
  color: #00ff88;
  border: 1px solid #00ff88;
  margin-bottom: 10px;
  padding: 10px;
}

select, button {
  margin-top: 10px;
  padding: 8px;
  background: black;
  color: #00ff88;
  border: 1px solid #00ff88;
  width: 100%;
}

button:hover {
  background: #00ff88;
  color: black;
  cursor: pointer;
}

.resultado {
  margin-top: 20px;
  white-space: pre-wrap;
  border-top: 1px solid #00ff88;
  padding-top: 15px;
}

.panel {
  margin-bottom: 30px;
}
